#all-restaurants img, #all-monuments img, #all-museums img, #all-sports img, #all-concerts img {
    border-radius: 25px;
    margin: 20px;
    height: 225px;
    width: 100%;
  }

  p {
    display: inline-block;
    margin: auto;
    padding: 10px;
    text-align: center;

  }

  #hero-img img{
    border-radius: 25px;
  }

  .title {
    text-align: center;
  }

  li {
    list-style-type: none;
    margin-top:10%;
  }

  #sports li, #concerts li {
    text-align: center;
  }

  .navbar{
    background-color: #5271ff;
  }